body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
      background-color: #1e1e1e;
      color: #ffffff;
      transition: all 0.3s ease;
}
body.light-theme {
  background-color: #ffffff;
  color: #333333;
}
h1, h2, h3 {
  color: #ffffff;
}
body.light-theme h1, body.light-theme h2, body.light-theme h3 {
  color: #333333;
}
a {
  color: #1e90ff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
section {
  display: flex;
  flex-wrap: wrap; /* Taulukot menevät seuraavalle riville, jos tila loppuu */
  justify-content: center; /* Keskittää taulukot */
  gap: 20px; /* Lisää väliä taulukoiden väliin */
}
table {
  border-collapse: collapse;
  margin: 20px 0;
  width: 100%; /* Taulukot vievät koko käytettävissä olevan tilan */
  max-width: 800px; /* Ensimmäisen taulukon maksimileveys */
}
table:nth-of-type(2) {
  max-width: 400px; /* Toisen taulukon maksimileveys */
}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #444444;
}
body.light-theme th, body.light-theme td {
  border-bottom: 1px solid #dddddd;
}
th {
  background-color: #333333;
}
body.light-theme th {
  background-color: #f4f4f4;
}
img {
  max-width: 100%;
  height: auto;
}
.profile-table {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.profile-table td {
  vertical-align: top;
}
/* Lomakekenttien tyylit */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
}
/* Kenttien tyylit */
label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}
input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Varmistaa, että padding ei vaikuta leveyteen */
}
textarea {
    width: 400px; /* Määritellään leveys 400px */
    height: 150px; /* Voit määrittää korkeuden tarpeen mukaan */
}
/* Lähetä-painikkeen tyylit */
button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #45a049;
}
.theme-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #1e90ff;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.theme-toggle:hover {
  background-color: #007bff;
}
@media (max-width: 768px) {
  .profile-table td {
    display: block;
    width: 100%;
  }
}
